<div class="row">
  <div class="col-2"></div>
  <div class="col-6 bg-white border">
    Language
    <div class="bg-light border" *ngFor="let item of language.language">
      <input
        type="radio"
        id="{{ item }}"
        name="radio001"
        value="{{ item }}"
        checked="item === language.selected"
        [(ngModel)]="language.selected"
        (change)="emitChange()"
      />{{ item }}
    </div>
  </div>
</div>
<br />
<br />

<div class="row">
  <div class="col-2"></div>
  <div class="col-8 bg-white border">
    Filter 
    <div class="bg-light border" *ngFor="let item of filter.filter">
      <input
        type="radio"
        id="{{ item }}"
        name="radio001"
        value="{{ item }}"
        checked="item === filter.selected"
        [(ngModel)]="filter.selected"
        (change)="emitChange()"
      />{{ item }}
    </div>
  </div>
</div>
