/* You can add global styles to this file, and also import other style files */
@import 'https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css';
@import 'https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css';
.box1{
  width: 50px;
  height: 30px;
  text-align: center;
  background-color: gold;
  color: black;
}
.box{
  width: 100px;
  height: 100px;
  border-radius: 5px;
  margin: 5px;
  display: block;

}
.grid{
  align-content: center;
  margin-left: 25%;
 width: 40%;
 display: flex;
 flex-wrap: wrap;
 margin-top: 10px;
}
.blue{
  background-color: lightblue;

}

.gray{
  background-color: lightgray;
}

.color{
  background-color: #BBFFFF;
}
.red{
  color: red;
}
.form{
  background-color: hotpink;
  color:darkmagenta;
}


.greencls{
  background-color: green !important;
}
  .row::after {
    content: "";
    clear: both;
    display: table;
  }
  .column {
    float: left;
    width: 40px;
    padding: 5px;
  }

.text{
  font-size:bold;
  font-weight: bold;
  margin: 40px;
}
.text1{
  float: right;
  color: gray;
  font-weight:bold;
  font-size:20px;
}

