<br />
<div class="container" *ngIf="check">
  <div class="row">
    <div class="col-12 text-center">
      <img
        src="{{ homeImage[0].image }}"
        style="height: 300px; width: 300px;"
      />
    </div>
  </div>
  <br />
  <br />

  <div class="row">
    <div class="col-2"></div>
    <div class="col-6 text-center">
      <input
        type="text"
        class="form-control"
        placeholder="Search"
        [(ngModel)]="bookName"
      />
    </div>
    <div class="col-2 text-center">
      <button class="btn btn-primary" (click)="searchBook()">Search</button>
    </div>
  </div>
</div>
<br />
<br />

<div *ngIf="mainContent">
  <div class="row">
    <div class="col-3">
      <app-google-books-options
        [language]="languageStructure"
        [filter]="filterStructure"
        (selValue)="optChange($event)"
      ></app-google-books-options>
    </div>
    <div class="col-9">
      <h5 class="text-warning text-center">All Books</h5>
      <p class="text-primary">{{ startIndex + 1 }} - {{ maxre }} entries</p>

      <div class="row">
        <div
          class="col-3 border bg-success text-center"
          *ngFor="let item of bookData"
        >
          <img
            src="{{ item.volumeInfo.imageLinks.thumbnail }}"
            alt="imageUnavaliable"
            style="height: 200px; width: 200px;"
          />

          <h5>{{ bookName }}</h5>
          {{ item.volumeInfo.authors }}
        </div>
      </div>
      <div style="float: left;">
        <button
          *ngIf="startIndex > 1"
          class="btn btn-warning"
          (click)="previous()"
        >
          Previous
        </button>
      </div>
      <div style="float: right;">
        <button
          *ngIf="bookData.length > 7"
          class="btn btn-warning"
          (click)="next()"
        >
          Next
        </button>
      </div>
    </div>
  </div>
</div>
