<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="/"></a>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item dropdown">
        <a
          class="nav-link dropdown-toggle"
          href="#"
          id="navbarDropdown"
          role="button"
          data-toggle="dropdown"
          aria-haspopup="true"
          aria-expanded="false"
        >
          <span class="fi-book" title="book" aria-hidden="true"
            ><i class="fa fa-book" style="font-size: 36px; color: black;"></i
          ></span>
          Options
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a
            class="dropdown-item"
            routerLink="/books/HarryPotter"
            routerLinkActive="active"
            [queryParams]="{ searchText: 'Harry Potter' }"
            >Harry Potter Books</a
          >
          <a
            class="dropdown-item"
            routerLink="/books/AgathaBooks"
            routerLinkActive="active"
            [queryParams]="{ searchText: 'Agatha' }"
            >Books by Agatha</a
          >
          <a
            class="dropdown-item"
            routerLink="/books/Love Stories by Jane"
            routerLinkActive="active"
            [queryParams]="{ searchText: 'Love Stories by Jane' }"
            >Love Stories By Jane</a
          >
          <a
          class="dropdown-item"
          routerLink="/books/BiographyonLincoln"
          routerLinkActive="active"
          [queryParams]="{ searchText: 'Biography on Lincoln' }"
          >Biography On Lincoln</a
        >
          <a
            class="dropdown-item"
            routerLink="/books/Ramayan"
            routerLinkActive="active"
            [queryParams]="{ searchText: 'Ramayan' }"
            >Ramayan</a
          >
          <div class="dropdown-divider"></div>
        </div>
      </li>
    </ul>
  </div>
</nav>
<router-outlet></router-outlet>
